.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.app {
	display: flex;
	border: 1px solid red;
}

#display {
	display: flex;
	flex-wrap: wrap;
	width: 350px;
	align-items: center;
	justify-content: center;
}
.drum-pad {
	border: 2px solid black;
	height: 100px;
	width: 100px;
	text-align: center;
	text-justify: center;
}
